[submodule "copyright"]
	path = copyright
	url = https://github.com/mayank31398/copyright
[submodule "accelerated-model-architectures"]
	path = accelerated-model-architectures
	url = https://github.com/open-lm-engine/accelerated-model-architectures
